/* line 1, /Users/kenmiya/Desktop/SampleClock/scss/_reset.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@-webkit-keyframes backgraund-anime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes backgraund-anime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes backgraund-anime {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* line 7, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1vw;
  display: flex;
  background: linear-gradient(270deg, #d55a5a, #eeafaf, #e2c3cf);
  background-size: 300% 300%;
  -webkit-animation: backgraund-anime 30s ease infinite;
  -moz-animation: backgraund-anime 30s ease infinite;
  animation: backgraund-anime 30s ease infinite; }
  /* line 20, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
  body #clock {
    border: 1px solid black;
    width: 50vw;
    height: 50vw;
    margin: auto;
    border-radius: 50%;
    position: relative; }
    @media (max-width: 480px) {
      /* line 20, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock {
        width: 75vw;
        height: 75vw; } }
    /* line 34, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
    body #clock > div {
      width: 50%;
      height: 1em;
      line-height: 100%;
      font-size: 4em;
      position: absolute;
      transform-origin: right;
      margin: auto;
      top: 0;
      bottom: 0;
      padding-left: 2rem; }
      @media (max-width: 480px) {
        /* line 34, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
        body #clock > div {
          font-size: 4em;
          padding-left: 1rem; } }
      /* line 51, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div span {
        width: 1rem;
        display: block;
        font-family: 'Playfair Display', serif;
        font-style: italic; }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_1 {
        transform: rotate(120deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_1 span {
          transform: rotate(-120deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_2 {
        transform: rotate(150deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_2 span {
          transform: rotate(-150deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_3 {
        transform: rotate(180deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_3 span {
          transform: rotate(-180deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_4 {
        transform: rotate(210deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_4 span {
          transform: rotate(-210deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_5 {
        transform: rotate(240deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_5 span {
          transform: rotate(-240deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_6 {
        transform: rotate(270deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_6 span {
          transform: rotate(-270deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_7 {
        transform: rotate(300deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_7 span {
          transform: rotate(-300deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_8 {
        transform: rotate(330deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_8 span {
          transform: rotate(-330deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_9 {
        transform: rotate(360deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_9 span {
          transform: rotate(-360deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_10 {
        transform: rotate(390deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_10 span {
          transform: rotate(-390deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_11 {
        transform: rotate(420deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_11 span {
          transform: rotate(-420deg); }
      /* line 60, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_12 {
        transform: rotate(450deg); }
        /* line 3, /Users/kenmiya/Desktop/SampleClock/scss/_mixin.scss */
        body #clock > div#hour_12 span {
          transform: rotate(-450deg); }
      /* line 65, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#sec_hand {
        background: black;
        height: 1px;
        width: 50%;
        transform-origin: right; }
      /* line 71, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#min_hand {
        background: black;
        height: 2px;
        width: 50%;
        transform-origin: right; }
      /* line 77, /Users/kenmiya/Desktop/SampleClock/scss/style.scss */
      body #clock > div#hour_hand {
        background: black;
        height: 4px;
        width: 50%;
        transform-origin: right; }

/*# sourceMappingURL=style.css.map */