// Media Query用
$pc: 1024px;
$tablet: 768px;
$mobile: 480px;

//デザイン
$main-color: #fff;
$sub-color: #000;
$font-board: 'Poiret One', cursive;
$font-date: 'Open Sans', sans-serif;

//背景グラデーション
$morning-colors: #fffaa2, #bdf291, #d4fffc;
$afternoon-colors: #fffba7, #ffdd5c, #ffec76;
$evning-colors: #ffe8bd, #ffa694, #ffe8bd;
$night-colors: #2c347d, #705399, #5781a1;